body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f9f4;
  color: #0f2410;
  background-image:url('bgsustainable.png.avif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background: #2f855a;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(124, 223, 150, 0.1);
}

button {
  background: #2f855a;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #276749;
}

footer {
  text-align: center;
  padding: 15px;
  background: #e6f4ea;
  color: #2f855a;
  font-size: 14px;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 5vh;
}