body {
    font-family: Arial, sans-serif;
    background-color:plum;
    line-height: 1.7;
}

header {
    background-color:beige;
    color: brown;
    text-align: center;
    padding: 25px;
}

.cover-image {
    width: 100%;
    height: auto;
}

.container {
    max-width: 900px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 22px;
    }
}